<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        margin-top: 10px;
        padding: 30px;
      }

      button {
        border: none;
        background-color: white;
        cursor: pointer;
      }

      img {
        display: block;
        width: 10%;
      }

      h1 {
        margin: 0 0 5px 0;
        font-size: 1rem;
        color: darkkhaki;
        text-align: right;
      }

      ul {
        list-style: none;
      }

      ul.nav_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        margin-bottom: 40px;
        border: 1px solid lightgray;
        border-radius: 5px;
      }

      ul.nav_bar li {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        transition: all 0.3s;
      }

      ul.nav_bar li span {
        display: block;
        width: 100%;
        height: 100%;
      }

      ul.nav_bar li:not(:last-child) {
        border-right: 1px solid rgb(195, 207, 219);
      }

      ul.nav_bar li:hover {
        background-color: darkkhaki;
        color: white;
        border-left-color: white;
        border-right-color: white;
      }

      ul.join {
        display: flex;
        justify-content: flex-end;
      }

      ul.join li:nth-of-type(2n) {
        padding: 0 5px;
      }

      ul.join a {
        color: black;
        text-decoration: none;
        transition: all 0.3s;
      }

      ul.join a:hover {
        color: darkkhaki;
        text-decoration: underline;
      }

      .addBookBtn {
        text-align: right;
        cursor: pointer;
        transition: all 0.3s;
      }
      
      .addBookBtn:hover {
        color: rgb(87, 93, 110);
        text-decoration: underline;
      }

      
      .bookform_wrap {
        margin: 0 auto 20px;
        /* margin-bottom: 20px; */
        padding: 30px;
        width: 70%;
      }

      .reupdate {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        /* top: calc(50% - 350px); */
        /* width: 700px; */
      }

      .reupdate_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        transform: translateY(-50%) translateX(-50%);
      }

      .reupdate_inner .modal_btn {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 20%;
        margin-top: 0;
        padding: 0 25px 0 ;
        font-size: 1.5rem;
        text-align: right;
      }

      .addBook {
        display: none;
      }

      .bookform_wrap p {
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        background-color: rgb(87, 93, 110);
        border: 1px solid lightslategray;
        border-bottom: none;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: white;
      } 

      .addBookForm, .reupdateForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: white;
        border: 1px solid lightslategray;

      }
      
      .field {
        display: flex;
        justify-content: center;
      }
      
      .field label {
        flex: 0 1 17%;
        margin-right: 3%;
        font-weight: bold;
        text-align: right;
      }
      
      .field input {
        flex: 0 1 80%;
        margin-bottom: 5px;
        width: 70%;
      }

      .bookform_wrap button {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        width: 30%;
        padding: 8px;
        border: 1px solid rgb(87, 93, 110);
        background-color: rgba(87, 93, 110, 0.6);
        color: white;
        transition: all 0.3s;
      }
      
      .bookform_wrap button:hover {
        background-color: rgb(87, 93, 110);
        font-weight: bold;
      }

      #list {
        margin-top: 20px;
      }

      #list .title {
        padding: 10px 15px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        font-size: 1.2rem;
      }

      #list .book_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        border-bottom: 1px solid lightgray;
      }

      #list .book_wrap .img {
        flex: 0 1 15%;
        /* margin-right: 20px; */
      }

      #list .book_wrap img {
        width: 100%;
      }

      #list .bookList {
        flex: 0 1 65%;
        padding: 15px 0;
      }

      #list .bookList b {
        font-size: 1.2rem;
      }

      #list .book_comment {
        margin-top: 8px;
        font-size: 0.7rem;
        color: lightgray;
      }

      #list .book_info,
      #list .book_price {
        display: flex;
        align-items: center;
      }

      #list .book_info {
        margin: 8px 0;
        font-size: 0.9rem;
      }

      #list .book_info p,
      #list .book_price p {
        margin-right: 3px;
      }

      #list .book_date {
        color: gray;
      }

      #list .book_price p:first-child {
        font-weight: bolder;
        color: rgb(70, 67, 93);
      }

      #list .book_price p:last-child {
        font-size: 0.7rem;
        color: gray;
      }

      #list .book_btn button {
        transition: all 0.3s;
        font-size: 0.9rem;
        cursor: pointer;
      }

      #list .book_btn button:hover {
        color: darkkhaki;
      }

      .show {
        display: block;
      }

      .nav_click {
        background-color: darkkhaki;
        color: white;
        border-left-color: white;
        border-right-color: white;
      }

      .yes24_logo {
        display: flex;
        justify-content: space-between;
      }

      .yes24_logo a {
        flex: 1 0 30%;
      }

    </style>
  </head>
  <body>
    <div class="yes24_logo">
      <a href="/root">
        <img src="https://image.yes24.com/sysimage/renew/gnb/logoN4.png" alt="yes24 logo">
      </a>
      <button onclick="logout()">로그아웃</button>
    </div>

    <!-- nav bar -->
    <ul class="nav_bar">
      <li onclick="bestSellerCategory('BestSeller', '1')">
        <span class="text nav_click">종합</span>
      </li>
      <li onclick="bestSellerCategory('RealTimeBestSeller', '1')">
        <span class="text">실시간</span>
      </li>
      <li onclick="bestSellerCategory('DayBestSeller', '1')">
        <span class="text">일별</span>
      </li>
      <li onclick="bestSellerCategory('MonthWeekBestSeller', '1')">
        <span class="text">월별/주말</span>
      </li>
      <li onclick="bestSellerCategory('HotPriceBestSeller', '1')">
        <span class="text">특가</span>
      </li>
      <li onclick="bestSellerCategory('SteadySeller', '1')">
        <span class="text">스테디셀러</span>
      </li>
    </ul>

    <p class="addBookBtn" onclick="addBookToggle()">✔︎ 도서 추가하기</p>
    <div class="addBook bookform_wrap">
      <p>도서 추가</p>
      <form action="/root" method="post" name="addBookForm" class="addBookForm">
        <div class="field">
          <label for="bname">book</label>
          <input type="text" name="bname" id="bname">
        </div>
        
        <div class="field">
          <label for="bname_comment">comment</label>
          <input type="text" name="bname_comment" id="bname_comment">
        </div>

        <div class="field">
          <label for="author">author</label>
          <input type="text" name="author" id="author">
        </div>

        <div class="field">
          <label for="translator">translator</label>
          <input type="text" name="translator" id="translator">
        </div>
        
        <div class="field">
          <label for="publisher">publisher</label>
          <input type="text" name="publisher" id="publisher">
        </div>  
        
        <div class="field">
          <label for="price">price</label>  
          <input type="text" name="price" id="price">
        </div>
        
        <div class="field">
          <label for="dc">dc</label>  
          <input type="text" name="dc" id="dc">
        </div>
        
        <div class="field">
          <label for="url">url</label>
          <input type="text" name="url" id="url">
        </div>

        <div class="field">
          <label for="bs_id">bs_id</label>
          <input type="text" name="bs_id" id="bs_id">
        </div>
        
        <button type="submit">추가하기</button>
      </form>
    </div>

    <!-- 도서 수정 동적 생성 -->
    <div class="reupdate bookform_wrap">
<!--       <div class="reupdate_inner">
        <p>도서 수정하기</p>
        <button class="modal_btn"> ⅹ </button>
        <form action="/root" method="put" name="reupdateForm" class="reupdateForm">
          <div class="field">
            <label for="bname">book</label>
            <input type="text" name="bname" id="bname">
          </div>
          
          <div class="field">
            <label for="bname_comment">comment</label>
            <input type="text" name="bname_comment" id="bname_comment">
          </div>
  
          <div class="field">
            <label for="author">author</label>
            <input type="text" name="author" id="author">
          </div>
  
          <div class="field">
            <label for="translator">translator</label>
            <input type="text" name="translator" id="translator">
          </div>
          
          <div class="field">
            <label for="publisher">publisher</label>
            <input type="text" name="publisher" id="publisher">
          </div>  
          
          <div class="field">
            <label for="price">price</label>  
            <input type="text" name="price" id="price">
          </div>
          
          <div class="field">
            <label for="dc">dc</label>  
            <input type="text" name="dc" id="dc">
          </div>
          
          <div class="field">
            <label for="url">url</label>
            <input type="text" name="url" id="url">
          </div>
  
          <div class="field">
            <label for="bs_id">bs_id</label>
            <input type="text" name="bs_id" id="bs_id">
          </div>
          
          <button type="submit">수정하기</button>
        </form> 
      </div> -->

    </div>

    <!-- 리스트 동적 생성 -->
    <div id="list"></div>

    <script>
      // 로그아웃
      function logout() {
        fetch('/root/logout')
        .then(response => {
          if (response.status === 200) {
            alert('로그아웃 되었습니다 🚃')
            window.location.reload();
          }
        })
        .catch(console.error)
      }

      // nav_var 클릭 hover 
      document.querySelectorAll('.nav_bar li').forEach(li => {
          li.addEventListener('click', e => {
            // console.log(e.currentTarget)
            document.querySelectorAll('.nav_bar .text').forEach(text => {
              if(text !== e.target) text.classList.remove('nav_click')
              else e.target.classList.add('nav_click')
            });
          });
        });

      // 리스트 출력 
      bestSellerCategory('BestSeller', '1');

      function bestSellerCategory(categoryName, page) {
        const url = '/' + categoryName + '/' + page
        fetch(url)
          .then((response) => response.json())
          .then(bookList => {
            // alert(JSON.stringify(bookList));
            if (!bookList[0].bid) {
              const output = `<h2 class="title">${bookList[0].bs_title}</h2>`
            document.querySelector('#list').innerHTML = output;
            } else {
            const output = `
              <h2 class="title">${bookList[0].bs_title}</h2>
              ${bookList.map(book => `
                  <div class="book_wrap">
                    <div class="img">
                      <img src="${book.url}">
                    </div>
                    <div class="bookList">
                      <b>${book.bname}</b>
                      <p class="book_comment">${book.bname_comment}</p>
                      <div class="book_info">
                        <p>${book.author} 저 / ${book.translator} 역 |</p>
                        <p class="book_pub">${book.publisher} |</p>
                        <p class="book_date">${book.pdate}</p>
                      </div>
                      <div class="book_price">
                        <p>${book.price}원</p>
                        <p>(${book.dc}% 할인)</p>
                      </div>
                    </div>
                    <div class="book_btn">
                      <button type="button" onclick="reupdateModal(${book.bid})">편집</button>
                      <button type="button" onclick="remove(${book.bid})">삭제</button>
                    </div>
                  </div>
                `).join('\n')}
              `;
              document.querySelector('#list').innerHTML = output;}
          })
          .catch();
      }


      // addBookToggle ( 도서 추가 토글 )
      function addBookToggle() {
        const display = document.querySelector('.addBook').classList.contains('show')

        if(display) {
          document.querySelector('.addBook').classList.remove('show');
        } else {
          document.querySelector('.addBook').classList.add('show');
          document.querySelector('#bname').focus();
        }
      }

      
      // modal 끄기
      function modalDisplay(){
          document.querySelector('.reupdate').classList.remove('show');
       // document.querySelector('.modal_btn').addEventListener('click', e => {
          // document.querySelector('.reupdate').classList.remove('show');
        // }) 
      }

      // modal ( 도서 수정 모달)
      function reupdateModal(bid){
        document.querySelector('.reupdate').classList.add('show');

        fetch('/root/' + bid) 
          .then(response => response.json())
          .then(booklist => {
            // alert(JSON.stringify(booklist))
            const output = `
            <div class="reupdate_inner">
              <p>도서 수정하기</p>
              <button type="button" class="modal_btn" onclick="modalDisplay()"> ⅹ </button>
              <form action="/root" method="post" name="reupdateForm" class="reupdateForm">
                <div class="field">
                  <label for="bname">book</label>
                  <input value="${booklist.bid}" type="hidden" name="bid" id="bid">
                  <input value="${booklist.bname}" type="text" name="bname" id="bname">
                </div>
                
                <div class="field">
                  <label for="bname_comment">comment</label>
                  <input value="${booklist.bname_comment}" type="text" name="bname_comment" id="bname_comment">
                </div>
        
                <div class="field">
                  <label for="author">author</label>
                  <input value="${booklist.author}" type="text" name="author" id="author">
                </div>
        
                <div class="field">
                  <label for="translator">translator</label>
                  <input value="${booklist.translator}" type="text" name="translator" id="translator">
                </div>
                
                <div class="field">
                  <label for="publisher">publisher</label>
                  <input value="${booklist.publisher}" type="text" name="publisher" id="publisher">
                </div>  
                
                <div class="field">
                  <label for="price">price</label>  
                  <input value="${booklist.price}" type="text" name="price" id="price">
                </div>
                
                <div class="field">
                  <label for="dc">dc</label>  
                  <input value="${booklist.dc}" type="text" name="dc" id="dc">
                </div>
                
                <div class="field">
                  <label for="url">url</label>
                  <input value="${booklist.url}" type="text" name="url" id="url">
                </div>
        
                <div class="field">
                  <label for="bs_id">bs_id</label>
                  <input value="${booklist.bs_id}" type="text" name="bs_id" id="bs_id">
                </div>
                
                <button type="button" onclick="reupdate(${booklist.bid})">수정하기</button>
              </form>
            </div>
            `
            document.querySelector('.reupdate').innerHTML = output;
          })
        }
    
      // modal update
      function reupdate(bid){
        const body = {};

        document.querySelectorAll('.reupdateForm input').forEach(input => {
          // alert(input.name)
          let key = input.name;
          let value = input.value;
          body[key] = value;
        })

/*         const bname = document.reupdateForm.bname.value;
        const bname_comment = document.reupdateForm.bname_comment.value;
        const author = document.reupdateForm.author.value;
        const translator = document.reupdateForm.translator.value;
        const publisher = document.reupdateForm.publisher.value;
        const price = document.reupdateForm.price.value;
        const dc = document.reupdateForm.dc.value;
        const url = document.reupdateForm.url.value;
        const bs_id = document.reupdateForm.bs_id.value; */

/*         const bname = document.querySelector('.reupdate_inner #bname').value;
        const bname_comment = document.querySelector('.reupdate_inner #bname_comment').value;
        const author = document.querySelector('.reupdate_inner #author').value;
        const translator = document.querySelector('.reupdate_inner #translator').value;
        const publisher = document.querySelector('.reupdate_inner #publisher').value;
        const price = document.querySelector('.reupdate_inner #price').value;
        const dc = document.querySelector('.reupdate_inner #dc').value;
        const url = document.querySelector('.reupdate_inner #url').value;
        const bs_id = document.querySelector('.reupdate_inner #bs_id').value; */


        fetch('/root', {
          method : 'put',
          headers : {'content-type' : 'application/json'},
          body: JSON.stringify(body)
          // body: JSON.stringify({bid : bid, bname : bname, bname_comment : bname_comment, author : author, translator : translator, publisher : publisher, price : price, dc : dc, url : url, bs_id : bs_id})
        })
        .then(result => {
          if( result.status === 204 ) {
            alert('수정 성공 🌿')
            window.location.reload();
          }
        })
        .catch(console.error)
      }
      

      // 데이터 remove
      function remove(bid){
        fetch('/root', {
          method : 'delete',
          headers : {'content-type' : 'application/json'},
          body: JSON.stringify({bid : bid}),
        })
        .then(result => {
          if( result.status === 204) {
            alert('삭제 성공 🌼');
            window.location.reload();
          }
        })
        .catch(console.error)
      }

    </script>
  </body>
</html>
